.jumbo {
  margin: 15px;
  background-color: white;
  padding: 10px;
}

.wrap {
  margin: 15px;
  background-color: white;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form-col{
    margin-bottom: 20px;
}

.foot {
    margin: 10px;
    font-size: 10px;
}
